
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.navbar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 56px;
  background-color: rgba(219,32,4,0.8);
  z-index: 1;
  color: white;
}

.navbar .nav-left {
  display: inline-block;
  height: 100%;
  padding: 15px;
}

.navbar .nav-right { 
  padding: 15px;
  height: 100%;
  float: right;
}

.navbar h1 {
  color: white;
  margin: 0 auto;
}

.btn {
  background-color: white;
  border:none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 180px;
}

.btn:hover {
  background-color: #CCC;
}

.btn:active {
  background-color: #999;
}

.btn-round { 
    background-color: green;
    border: none;
    border-radius: 30px;
    padding: 5px 5px;
    width: 35px;
    text-align: center; 
}

.speed {
  vertical-align: 5px;
}

.btn-round:hover,
.btn-round:active {
  background-color: lawngreen;
}

.actions-nav {
  position: fixed;
  z-index: 1;
  right: 0px;
  bottom: 15px;
}

.actions-left {
  background-color: white;
  position: fixed;
  z-index: 1;
  left: 0px;
  bottom: 15px;
}