<html>
<head>
    <title>Geolocation Simulator</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="../node_modules/leaflet/dist/leaflet.css" />
	<link rel="stylesheet" href="geosim.css" />
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <h1>
                Geolocation Simulator
            </h1>
        </div>  
        <div class="nav-right">
            <button class="btn" id="btnMode">
                Change to PATH MODE
            </button>    
        </div>          
    </nav>
    <div id="map"></div>

    <div class="actions-nav" style="display:none;">
        <button class="btn" id="btnPlay">
            <i class="material-icons">&#xE037;</i>
        </button> 
        <button class="btn" id="btnClear">
            <i class="material-icons">&#xE14C;</i>
        </button> 
    </div>
    <div class="actions-left" style="display:none;">
        <button class="btn-round" id="btnMinus">
            <i class="material-icons">&#xE15B;</i>
        </button> 
        <span class="speed">40 km/h</span>
        <button class="btn-round" id="btnPlus">
            <i class="material-icons">&#xE145;</i>
        </button> 
    </div>


<script src="../node_modules/leaflet/dist/leaflet.js"></script>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="geolocation-simulator.js"></script>
<script>
	var marker = null, 
		mymap = null, 
		mode = 1,
		polyline = null,
		polyMarkers = [],
		redIcon = L.divIcon({className: 'fa fa-map-pin', iconSize: L.point(18,18), iconAnchor:[2,12]}),
		speed = 160, // km/h
		lastpos = null,
		bearing = 0,
		name = "SIM" + (new Date()).getTime();

    function setPosition(lat,lng) {
        if (!marker) {
            marker = L.marker([lat, lng]).addTo(mymap);
        }
        var newLatLng = new L.LatLng(lat, lng);
        marker.setLatLng(newLatLng); 
    }

    function init () {
        mymap = L.map('map').setView([50.639366, 5.445671], 14);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(mymap); 
        polyline = L.polyline([], {color: 'red'}).addTo(mymap);
        mymap.on('click', mapClick);
        $(".speed").text(speed + " km/h");
        $("#btnMode").text(mode % 2 ? "Change to SIMPLE MODE" : "Change to PATH MODE");
    }

    function mapClick(e) {
        switch (mode) {
            case 0:
                setPosition(e.latlng.lat,e.latlng.lng);
                sendLocation(e.latlng.lat,e.latlng.lng);
                break;
            case 1:
                var m = L.marker(e.latlng,{icon:redIcon}).addTo(mymap);
                polyMarkers.push(m);
                polyline.addLatLng(e.latlng);
                if (polyline.getLatLngs().length > 1) {
                    $(".actions-nav").show();
                }
                break;    
        }            
    }

    function sendLocation(lat,lng) {
		if(lastpos) {
			function toDegrees (angle) {
			          return angle * (180 / Math.PI);
			}
			function toRadians (angle) {
			    return angle * (Math.PI / 180);
			}
			var la1 = lat;
			var lo1 = lng;
			var la2 = lastpos[1];
			var lo2 = lastpos[0];

			var y = Math.sin(toRadians(lo2-lo1)) * Math.cos(toRadians(la2));
			var x = Math.cos(toRadians(la1))*Math.sin(toRadians(la2))
			- Math.sin(toRadians(la1))*Math.cos(toRadians(la2))*Math.cos(toRadians(lo2-lo1));
			var brng = Math.atan2(y, x);
			brng = 180 + (brng * 180 / Math.PI);
			bearing = brng.toFixed(3);
		}
		lastpos = [lng, lat];
		localStorage.setItem('GIPSIMPOS',JSON.stringify({
			type: "Feature",
			geometry: {
				type: "Point",
				coordinates: lastpos
			},
			properties: {
				name: name,
				display_name: name,
				type: 'Aircraft',
				status: 'ACTIVE',
				display_status: 'UNKNOWN',
				speed: speed,
				heading: bearing,
				_style: {
				    "markerColor": "rgb(0,255,0)",
				    "weight": 1,
				    "opacity": 0.8,
					"fillColor": "rgb(0,255,0)",
				    "fillOpacity": 0.4,
					"markerSymbol": 'plane',
					"markerRotationOffset": -45
				},
				_templates: {
					formatDate: function() {
					    return function(text, render) {
					    	return Date( parseInt(render(text)) * 1000);
						}
					},
					show_label: true,
					tooltip:	"{{feature.properties.display_name}}",
					popup:		"{{feature.properties.display_name}} is {{feature.properties.display_status}} / {{feature.properties.status}}",
					sidebar:	"{{feature.properties.display_name}} is {{feature.properties.display_status}} / {{feature.properties.status}}.<br/>"
								+"Last seen at formated date: {{#templates.formatDate}}"
								+"{{feature.properties._timestamp}}"
								+"{{/templates.formatDate}}.<br/>"
								+"Available {{&texts.linkURL}}."
								,
					linkText:	"Link to {{feature.properties.display_name}}",
					linkURL:	"<a href='#path-to-get-more-details?id={{feature.properties.name}}'>{{texts.linkText}}</a>"	// !
				}
		
			}
		}));
    }

    function clear() {
        polyline.setLatLngs([]);
        $(".actions-nav").hide();
        if (simulation) {
            simulation.stop();
            clearTimeout(_timer);
        }
        for(i=0;i<polyMarkers.length;i++) {
            mymap.removeLayer(polyMarkers[i]);
        }
    }

    $(document).ready(init);

    $("#btnMode").click(function () {
        mode = (mode + 1) % 2;
        switch (mode) {
            case 0:
                clear();
                $("#btnMode").text("Change to PATH MODE");
                break;
            case 1:
                polyline = L.polyline([], {color: 'red'}).addTo(mymap);
                //$(".actions-nav").show();
                $("#btnMode").text("Change to SIMPLE MODE");
                $(".actions-left").show();
                break;    
        }  
    });

    $("#btnPlay").click(function () {
        var points = polyline.getLatLngs(),
            newPoints = [];
        for(var i in points) {
            newPoints.push({latitude: points[i].lat, longitude: points[i].lng });
        }
        polyline.setStyle({color:'blue'})
        simulation = window.GeolocationSimulator({coords: newPoints, speed: speed});
        simulation.start();
        getPosition(); 
    });

    $("#btnClear").click(function () {
        clear();
    });

    $("#btnMinus").click(function () {
        speed -= 5;
        $(".speed").text(speed + " km/h");
        if (simulation) {
            simulation.setSpeed(speed);
        }    
    });

    $("#btnPlus").click(function () {
        speed += 5;
        $(".speed").text(speed + " km/h");
        if (simulation) {
            simulation.setSpeed(speed);
        }    
    });

    var simulation = null,
        _timer,
        _timerInterval = 1000, //play with these to see more infrequent results (>= 1000)
        _update = 0;

    function getPosition() {
        //if geolocation is available, proceed
        if ('geolocation' in navigator) {
            var options = {
                enableHighAccuracy: true,
                timeout: Infinity,
                maximumAge: 0
            };
            //get location
            navigator.geolocation.getCurrentPosition(newPosition, geoError, options);

            //lets keep getting it to see where this fella goes
            _timer = setTimeout(getPosition, _timerInterval); 
        }
    }

    //handle the geolocation response obj
    function newPosition(data) {
        _update++; 

        var coords = data.coords; 

        if(mymap) {
            setPosition(coords.latitude, coords.longitude);
            sendLocation(coords.latitude, coords.longitude);
        }
    }

    //handle geolocation errors (there won't be any!)
    function geoError(error) {
        console.log(error);
    }
</script>
</body>
</html>
