/*L-Oscars.css v. 2.3.0*/

body {
    padding: 0;
    margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

.oscars-label {
	background: transparent;
	border: none;
	box-shadow: none;
	font-size: 10px;
	font-weight: bolder;
}

/* removes the little caret from tooltip text to marker */
.oscars-label.leaflet-tooltip-top:before,
.oscars-label.leaflet-tooltip-bottom:before,
.oscars-label.leaflet-tooltip-left:before,
.oscars-label.leaflet-tooltip-right:before {
	content: none;
}

.leaflet-control-layers-group label input.leaflet-control-layers-selector {
	margin-left: 10px;
}
.leaflet-control-layers {
	box-shadow: none;
	width: 100%;
}

/* Sidebar Adjustments */
.sidebar {
	box-shadow: none;
}
.sidebar-tabs > li.active,
.sidebar-tabs > ul > li.active,
.sidebar-tabs > li:hover,
.sidebar-tabs > ul > li:hover,
h1.sidebar-header {
	background-color: transparent;
}
h2.sidebar-header {
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
	background-color: transparent;
	color: black;
}
.sidebar-tabs {
	background-color: transparent;
}
.sidebar-content {
	background-color: rgba(220, 220, 220, 0.6);
	border: 1px solid white;
	box-shadow: none;
}
.sidebar-close {
	right: 0;
}
.timeline-hairline.timeline {
	margin-left: 1px;
}
div.sidebar-pane-content {
    overflow: auto;
    overflow-x:hidden;
}
.leaflet-sidebar {
  position: absolute;
  height: 100%;
  padding: 10px;
  z-index: 2000; }

#gip-gip-wire {
	font-size: 10px;
}
/**/
.timeline-circ.circ-xl .fa {
	font-size: 24px;
	line-height: 38px;
}
.oscars-credits tr td {
	padding: 6px;
	font-style: italic;
	font-size: smaller;
}
/**/
a .badge {
   position:relative;
}
.badge {
  display: block;
  position: absolute;
  top: -50px;
  right: -40px;
  line-height: 16px;
  font-size: 12px;
  font-weight: bolder;
  height: 16px;
  width: 16px;
  color: white;
  background: #db2004;
  border: 1px solid;
  border-radius: 10px;
  border-color: #f00;
}
.clean-wire,
.sound-onoff {
	float: right;
}
.o-search {
	margin-top: 10px;
	text-align: center;
	color: #AAA;
	font-size: 2em;
}
.leafletjs-peity {
	border: none;
	background: transparent;
}
/* About... logos */
div.gip-logo {
   content:url(i/gip.png);
   width: 200px;
   margin:auto;
}
div.leafletjs-logo {
   content:url(i/leafletjs.png);
   width: 100px;
}
div.mapbox-logo {
   content:url(i/mapbox.png);
   width: 100px;
}
div.osm-logo {
   content:url(i/osm.png);
   width: 100px;
}
div.stamen-logo {
   content:url(i/stamen.png);
   width: 100px;
}
.leaflet-control-search.search-exp {
	box-shadow: none;
}
.leaflet-control-search .search-input {
	border: 1px solid #ddd;
	padding: 8px;
	font-size: 16px;
}
.leaflet-control-search .search-cancel {
	margin-top: 12px;
	padding-right: 8px;
}
.leaflet-control-search .search-button {
	margin-top: 8px;
	margin-left: 6px;
}
/**/
.sidebar-tabs, .sidebar-tabs > ul {
  width: 60px;
}
.sidebar-tabs > li, .sidebar-tabs > ul > li {
    height: 60px;
}
.leaflet-bar,
.leaflet-bar a {
	background-color: transparent;
	border: none;
	color: rgba(100, 100, 100, 0.4);
	text-shadow: 2px 2px 2px rgba(127, 127, 127, 0.05);
	box-shadow: none;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	padding: 8px;
	font-size: 40px;
	font-weight: normal;
}
.la {
	padding-left: 18px;
	font-size: 40px;
	font-weight: normal;
	color: rgba(100, 100, 100, 0.2);
	text-shadow: 2px 2px 2px rgba(127, 127, 127, 0.05);
}
.about {
	display: inline-block;
	width: 32px;
	height: 32px;
}
/* CLIENT SETUP */
/* Oscars Defaults ¨*/
h1.sidebar-header.oscars {
	color: #db2004;
}
.oscars.badge {
  background: #db2004;
  border-color: #db2004;
}
.leaflet-bar a.oscars:hover {
	color: #db2004;
}
.active .oscars.la,
.oscars.la:hover {
	color: #db2004;
}
.about.oscars {
	background-image: url(i/red-32.png) ;
}
/* Liege Airport Colors (.eblg)
Orange: f18700
Blue: 0e64ae
<li><a href="#about" role="tab"><img src="oscars/i/liegeairport.png" alt="Liege Airport" title="Oscars GIP for Liege Airport" width="18" height="18"></a></li>
*/
.about.eblg {
	background-image: url(i/liegeairport-32.png) ;
}
.eblg.badge {
  background: #f18700;
  border-color: #f18700;
}
.leaflet-bar a.oscars:hover {
	color: #0e64ae;
}
h1.sidebar-header.eblg {
	color: #f18700;
}
.active .eblg.la,
.eblg.la:hover {
	color: #0e64ae;
}
