.leaflet-labeled-icon label {
    background: white;
    margin-left: 3px;
    white-space: nowrap;
    
    color: hsl(0, 0%, 20%);
    white-space: nowrap;
    font-size: 10px;
    box-shadow: 0 0 hsl(0, 100%, 100%);
    background-color: hsl(0, 100%, 100%);
    border-radius: 4px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    line-height: 14px;
    
    cursor:inherit;
}

.leaflet-labeled-icon label.right {
    
}

.leaflet-labeled-icon label.left {
    
}

